.add-post-popup {
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
}


.add-post-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

@media (max-width: 600px) {
  .add-post-popup {
    padding: 0 15px;
  }
}

.js-popup-open {
  visibility: visible;
  opacity: 1;
}

.add-post-popup-content {
  display: flex;
  flex-direction: column;
  width: 550px;
  padding: 20px 20px;
  background-color: #292634;
  border: 1px solid #242424;
  border-radius: 20px;
}

.close-btn-popup {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(./add-post-close-btn.png);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  filter: invert(1);
}

.close-btn-popup:hover {
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(000, 000, 000, 0.1);
  background-color: rgba(000, 000, 000, 0.1);
}

.post-title-wrap {
  position: relative;
}

.post-title-input {
  margin-top: 15px;
  padding: 20px 0 20px 20px;
  width: 100%;
  height: 60px;
  max-height: 80px;
  border-bottom: 1px solid #545454;
  resize: none;
  font-size: 18px;
}

/* полоса прокрутки (скроллбар) */
.post-title-input::-webkit-scrollbar {
  width: 6px; /* ширина для вертикального скролла */
  height: 6px; /* высота для горизонтального скролла */
  background-color: #292634;
}

/* ползунок скроллбара */
.post-title-input::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #545454;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #545454;
}

.post-title-input::-webkit-scrollbar-thumb:hover {
  background-color: #292634;
}

.post-title-counter {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.post-title-current,
.post-dscrpt-current {
  font-size: 12px;
}

.color-red {
  color: rgb(255 53 53);
}

.post-dscrpt-wrap {
  position: relative;
}

.post-dscrpt-input {
  padding: 15px 20px;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #545454;
  resize: none;
  font-size: 18px;
}

.post-dscrpt::placeholder {
  font-size: 16px;
}

/* полоса прокрутки (скроллбар) */
.post-dscrpt-input::-webkit-scrollbar {
  width: 6px; /* ширина для вертикального скролла */
  height: 6px; /* высота для горизонтального скролла */
  background-color: #292634;
}

/* ползунок скроллбара */
.post-dscrpt-input::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #545454;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #545454;
}

.post-dscrpt-input::-webkit-scrollbar-thumb:hover {
  background-color: #292634;
}

.post-dscrpt-counter {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.publish-post-btn {
  align-self: flex-end;
  margin-top: 20px;
  width: 150px;
  border: 1px solid #14508d;
  border-radius: 40px;
  background-color: #175da3;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.5s;
}

.publish-post-btn:hover {
  border: 1px solid #175da3;
  background-color: #2770b9;
}
